// 所有项目通用样式
html {
  overflow: hidden;
  body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    #app {
      width: 100%;
      height: 100%;
    }
    .n-config-provider {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }
}
