/**
 * LeContainer 组件样式
 */

.le-container {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;

  &__scrollbar {
    width: 100%;
    height: 100%;
  }

  &__content {
    padding: var(--le-container-padding, 16px);
  }
}
