.global-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(53, 63, 94, 0.1);
  .global-header-left {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    .global-header-logo {
      margin-right: 12px;
    }
    .global-header-title {
      font-size: 24px;
      font-weight: 500;
    }
  }
  .global-header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .global-header-right {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .header-actions {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .global-header-user {
      display: flex;
      align-items: center;
      cursor: pointer;
      .user-avatar {
        width: 30px;
        height: 30px;
        margin-right: 12px;
      }
      .user-name {
        margin-right: 8px;
      }
    }
  }
}
