.le-button {
  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.le-button--link {
  padding: 0 !important;
  height: auto !important;
  min-width: auto !important;
  font-weight: normal !important;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
