.global-tabs {
  width: 100%;
  height: 100%;
  background-color: #dbdde8;
  box-shadow: 0px 2px 4px 0px rgba(53, 63, 94, 0.1);

  .global-tabs-item {
    position: relative;
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px 0 12px;
    cursor: pointer;
    background-color: transparent;
    flex-shrink: 0;
    transition: background-color 0.2s;

    &:hover:not(.active) {
      background-color: #e8eaf0;
    }

    &.active {
      background-color: #fff;
    }

    .tab-label {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tab-close {
      position: absolute;
      top: 8px;
      right: 8px;
      transition: 0s;
    }
  }
}

.tabs-contextmenu {
  position: fixed;
  width: 160px;
  background: white;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 6px 0;
  z-index: 9999;
  outline: none;
  .tabs-contextmenu-item {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background: #efefef;
    }
  }
}
