.global-tabs {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #dbdde8;
  box-shadow: 0px 2px 4px 0px rgba(53, 63, 94, 0.1);
  .global-tabs-item {
    position: relative;
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px 0 12px;
    cursor: pointer;
    background-color: transparent;
    &.active {
      background-color: #fff;
    }
    .tab-label {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .tab-close {
      position: absolute;
      top: 8px;
      right: 8px;
      transition: 0s;
    }
  }
}
